@model List<Category>

<hr class="my-5" />

<!-- Bordered Table -->
<div class="card">
    <div class="card-header" style="display:flex;justify-content:space-between">
        <h2>
            Kateqoriya
        </h2>
         <div>
            <a class="btn btn-primary text-white"style="margin-right:10px">Yarat</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Ad</th>
                        
                        <th style="text-align:right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Category item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            
                            <td>
                                <div style="display:flex;justify-content:flex-end">
                                    <a class="btn btn-warning  text-white" style="margin-right:10px">Yenilə</a>
                                    <a class="btn btn-danger text-white" style="margin-right:10px">status</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--/ Bordered Table -->

<hr class="my-5" />
