@model SliderModel

<div class="row">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center"><h5 class="mb-0">Slayd</h5></div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">

                    <div class="mb-3 form-group">
                        <label asp-for="Photo" class="form-label">Şəkil</label>
                        <input asp-for="Photo" class="form-control" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="Title" class="form-label">Başlıq</label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="SubTitle" class="form-label">Alt Başlıq</label>
                        <input asp-for="SubTitle" class="form-control" />
                        <span asp-validation-for="SubTitle" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Yenilə</button>
                    <a asp-action="Index" class="btn btn-secondary">Geri qayıt</a>
                </form>
            </div>
        </div>
    </div>
</div>
