@model UserVM

@{
    ViewBag.Title = Model.UserName;
}

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="mainheading">
				<div class="row post-top-meta authorpage">
					<div class="col-md-2 col-xs-12">
						<img class="author-thumb" src="~/assets/img/user/@Model.Image" style="max-width: 100px; max-height: 100px; border-radius:50px;">
					</div>
					<div class="col-md-10 col-xs-12">
						<h4>
							@Model.UserName
							@if (Model.IsVerify)
							{
								<i style="color:green;" class='bx bxs-check-circle'></i>
							}
							@if (Model.IsSalesAccount)
							{
								<i style="color:darkblue;" class='bx bxl-sketch'></i>
							}
						</h4>
						<span class="author-description">@Model.Bio</span>
						<div class="my-2">
							<a href="#" class="btn btn-outline-success">Takip</a>
							<a asp-action="Message" asp-route-username="@Model.UserName" class="btn btn-outline-warning ">Mesaj</a>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
