@{
	ViewData["Title"] = "İstifadəçilər";
}

@model List<UserVM>

@section Css{
}


<hr class="my-5" />

<!-- Bordered Table -->
<div class="card">
    <div class="card-header" style="display:flex;justify-content:space-between">
        <h2>İstifadəçilər</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>İstifadəçi adı</th>
                        <th>Ad və Soyad</th>
                        <th style="text-align:right">Aksiyonlar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                           <td>@item.UserName</td>
                           <td>@item.Name @item.Surname</td>
                            <td>
                                <div style="display:flex;justify-content:flex-end">
                                    <a class="btn btn-warning text-white" style="margin-right:10px">Profilə bax</a>
                                    <a asp-action="Message" asp-route-username=@item.UserName class="btn btn-info text-white" style="margin-right:10px">Mesaj at</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--/ Bordered Table -->

<hr class="my-5" />
